In [1]:
import os
os.chdir(r'C:\Users\m\Downloads\ds\进阶-K-Means聚类分析\公开课-案例：客户价值分析')

In [2]:
os.getcwd()

'C:\\Users\\m\\Downloads\\ds\\进阶-K-Means聚类分析\\公开课-案例：客户价值分析'

In [3]:
import pandas as pd
data = pd.read_excel(r'RFM聚类分析【样本数据】.xlsx',index_col=0)

In [4]:
data.head()

                                         首次投资时间   最近一次投资时间   总计投资总金额  总计投标总次数
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B 2016-06-25 2016-06-26   20000.0        3
9921C535-75FC-4695-8551-32B8D717B4A5 2016-06-26 2016-06-26   50000.0        3
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8 2016-06-13 2016-06-19  108000.0        4
150218D8-BF32-406D-A3A8-8A19CB1E85AA 2016-06-16 2016-06-16   30000.0        3
98C26D4A-708F-4334-B3D7-EDAE9FD240C8 2016-06-27 2016-06-27  100000.0        3

In [5]:
data.describe(include = 'all')

                     首次投资时间             最近一次投资时间        总计投资总金额    总计投标总次数
count                   200                  200     200.000000  200.00000
unique                   24                   38            NaN        NaN
top     2016-06-22 00:00:00  2016-06-25 00:00:00            NaN        NaN
freq                     20                   25            NaN        NaN
first   2016-06-06 00:00:00  2016-06-06 00:00:00            NaN        NaN
last    2016-06-29 00:00:00  2016-07-18 00:00:00            NaN        NaN
mean                    NaN                  NaN   47223.409500    5.92000
std                     NaN                  NaN   43381.496372    4.84883
min                     NaN                  NaN   10100.000000    2.00000
25%                     NaN                  NaN   20000.000000    3.00000
50%                     NaN                  NaN   30000.000000    4.00000
75%                     NaN                  NaN   58000.000000    6.00000
max                     NaN                  NaN  250000.000000   34.00000

In [6]:
from datetime import datetime
ex_date = datetime(2016,7,20)

In [7]:
Rdate = ex_date - data['最近一次投资时间']
Rdate.head()

用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B   24 days
9921C535-75FC-4695-8551-32B8D717B4A5   24 days
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8   31 days
150218D8-BF32-406D-A3A8-8A19CB1E85AA   34 days
98C26D4A-708F-4334-B3D7-EDAE9FD240C8   23 days
Name: 最近一次投资时间, dtype: timedelta64[ns]

In [8]:
R = []
for i in Rdate:
    R.append(i.days)
R[:10]

[24, 24, 31, 34, 23, 28, 39, 22, 38, 25]

In [9]:
from math import ceil
R_month = []
for i in Rdate:
    R_month.append(ceil(i.days/30))
R_month[:10]

[1, 1, 2, 2, 1, 1, 2, 1, 2, 1]

In [10]:
F = (data['总计投标总次数'] / R_month).values
F[:10]

array([3. , 3. , 2. , 1.5, 3. , 3. , 1.5, 3. , 1. , 3. ])

In [11]:
M = (data['总计投资总金额'] / R_month).values
M[:11]

array([ 20000.,  50000.,  54000.,  15000., 100000.,  15000.,  10000.,
        16000.,   7500.,  20000.,  15000.])

In [12]:
len(R_month)

200

In [13]:
from pandas import DataFrame
data1 = DataFrame({'R': R_month,'F':list(F),'M':list(M)})
data1.index = data.index
data1.head()

                                      R    F         M
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B  1  3.0   20000.0
9921C535-75FC-4695-8551-32B8D717B4A5  1  3.0   50000.0
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8  2  2.0   54000.0
150218D8-BF32-406D-A3A8-8A19CB1E85AA  2  1.5   15000.0
98C26D4A-708F-4334-B3D7-EDAE9FD240C8  1  3.0  100000.0

In [14]:
sdata = (data1 - data1.mean())/data1.std()
sdata.head()

                                             R         F         M
用户编码
45B3CCE7-957B-4D54-9626-6D62731D119B -0.529756 -0.495691 -0.534095
9921C535-75FC-4695-8551-32B8D717B4A5 -0.529756 -0.495691  0.150851
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8  1.878225 -0.694166  0.242177
150218D8-BF32-406D-A3A8-8A19CB1E85AA  1.878225 -0.793404 -0.648253
98C26D4A-708F-4334-B3D7-EDAE9FD240C8 -0.529756 -0.495691  1.292427

In [15]:
from sklearn.cluster import KMeans
kmodel = KMeans(n_clusters=4,n_jobs=4,max_iter=100,random_state=0)
kmodel.fit(sdata)
kmodel.labels_

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 2, 2, 1, 3, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 2, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 3, 0, 1, 1, 1, 1, 2,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 2, 2, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 1, 0,
       3, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       3, 0, 3, 1, 0, 1, 0, 0, 1, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0])

In [23]:
from pandas import Series
Series(kmodel.labels_).value_counts()

0    133
1     44
3     14
2      9
dtype: int64

In [26]:
data1_res = pd.concat([data, Series(kmodel.labels_,index=data.index)],axis=1)
data1_res.columns = list(data.columns) + ['类别']
data1_res.head()

,首次投资时间,最近一次投资时间,总计投资总金额,总计投标总次数,类别
用户编码,,,,,
45B3CCE7-957B-4D54-9626-6D62731D119B,2016-06-25,2016-06-26,20000.0,3,0
9921C535-75FC-4695-8551-32B8D717B4A5,2016-06-26,2016-06-26,50000.0,3,0
2F00D4E3-CC7D-4DB1-B210-6F095156C5B8,2016-06-13,2016-06-19,108000.0,4,1
150218D8-BF32-406D-A3A8-8A19CB1E85AA,2016-06-16,2016-06-16,30000.0,3,1
98C26D4A-708F-4334-B3D7-EDAE9FD240C8,2016-06-27,2016-06-27,100000.0,3,0

In [28]:
data1_res.groupby(data1_res['类别']).mean()

          总计投资总金额    总计投标总次数
类别
0    38387.585714   4.954887
1    34823.022727   3.840909
2    49129.888889  22.666667
3   168910.785714  10.857143